/* ******* LAYOUTS: TEMPLATE  ******* */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
.g-container {
	position: relative;
	z-index: 1;
	background: #fff;
	background-size: auto;
}
.g-container.is-header-fixed {
	margin-top: 165px;
}
.g-container.is-header-fixed .g-header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 302;
}

.g-header,
.g-content,
.g-footer {
	position: relative;
}

.g-header {
	background-color: #081c24; 

	font-weight: 400;
	font-size: 13px;
}
.g-header .header-content {
	height: 120px;
}
.g-header:after {
	content: '';
	display: block;
	clear: both;
}

.g-hero {
	position: relative;
}
.g-hero._movie-hero {
	color: #fff;
}
.g-hero .hero-overlay:before {
	content: '';
	display: block;
	opacity: 0.7;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1; 
	background-image: radial-gradient(circle at 20% 50%, rgba(30, 39, 44, 0.98) 0%, rgba(30, 39, 44, 0.88) 100%);
}

.g-footer.is-fixed {
	position: fixed;
}

.inner {
	position: relative;
	clear: both; 
	max-width: 1773px;
	margin: 0 auto;
}
.inner:after {
	content: '';
	display: block;
	clear: both;
}
.inner.width-1 {
	max-width: 1290px;
}
.inner.width-2 {
	max-width: 918px;
}
.inner.width-3 {
	max-width: 870px;
}
.inner.width-4 {
	max-width: 941px;
}
.inner.width-5 {
	max-width: 727px;
}
.inner.full-width {
	max-width: 100%;
}
.inner.full-height {
	height: 100%;
	padding-top: 0;
}
.inner.inner-content {
	box-sizing: content-box;
}

.block {
	position: relative;
	padding: 50px 0;
	background-color: #f4f7f6;

	transition: background 0.3s ease-in-out;
}
.block._no-bg {
	background-color: transparent;
}
.block._p-0 {
	padding-top: 0;
	padding-bottom: 0;
}
.block._pt-0 {
	padding-top: 0;
}
.block._pb-0 {
	padding-bottom: 0;
}

/* ******* COMMON: TAGS ******* */
*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0; 
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	background: #0b0b0b;
}

body {
	overflow-x: hidden; 
	cursor: default;
	margin: auto;
	padding: 0;
	background: #f4f7f6;

	color: #202121;
	font-weight: 300;
	font-size: 14px;
	font-family: 'Roboto',sans-serif;

	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
}

img {
	height: auto; 
	max-width: 100%;
	border: none;
}

figure {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

figure img {
	display: block;
	height: auto; 
	max-width: 100%;
}

dl,
dt,
dd,
canvas,
iframe,
form {
	display: block;
	margin: 0;
	padding: 0;

	text-indent: 0;
}

iframe {
	display: block;
	width: 100%;
	border: none;
}

header,
main,
aside,
footer,
section {
	display: block;
}

/* *** CONTENT TAGS *** */
b {
	font-weight: bold;
}

ul.none,
ol.none {
	padding-left: 0; 

	list-style: none;
}

ul.decimal,
ol.decimal {
	list-style: decimal;
}

ul.style-none,
ol.style-none {
	list-style: none;
}

/* *** TABLE *** */
table {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	border-spacing: 0; 
	border-collapse: collapse;
}

tbody,
thead,
tr {
	width: 100%;
}

tbody,
thead,
td,
th,
tr {
	margin: 0;
	padding: 0;
}

input:focus {
	outline: none;
	border: 0;
}

a,
a.link {
	text-decoration: none;

	transition: color 0.3s ease-in-out;
}
a:hover,
a.link:hover {
	text-decoration: underline;
}

.box-item {
	position: relative;
	width: 100%;

	transition: background 0.3s ease-in-out;
}
.box-item .box-photo {
	position: relative;
}
.box-item .box-info {
	position: relative;
	clear: both;
	background-color: #fcfcfc;
}
.box-item .box-info .content {
	padding: 20px;
}
.box-item .box-info .content [class*='title-'] {
	margin: 0;

	font-weight: 500;
	font-size: 14px;
	line-height: 25px;
}
.box-item .box-info .content [class*='title-'] .link {
	color: #202121;
	line-height: 1.2; 
	text-decoration: none;
}
.box-item .box-info .content [class*='title-'] .link:hover {
	color: #64686a;
}
.box-item .hover-item {
	position: absolute;
	right: 0; 
	bottom: 0;
}
.box-item .box-bg:before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0; 
	background-color: #000;
}

.rollover img {
	position: relative;
	width: 100%;
	height: auto;
	z-index: 1;

	transition: all 0.3s ease-in-out;
	transform: translateZ(0); 

	-webkit-transform: translateZ(0);
}

.rollover .hover-item {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	right: 20px;
	bottom: 20px;

	transition: opacity 0.3s ease-in-out;
}

.rollover .bt-item {
	align-items: center;
	justify-content: center;

	display: -webkit-box;
	display: flex;
	cursor: pointer;
	height: 35px;
	min-width: 35px;

	transition: all 0.3s ease-in-out; 

	-webkit-box-align: center;
	-webkit-box-pack: center;
}
.rollover .bt-item .bt-link {
	width: 35px;
	height: 35px;
	padding: 9px 6px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}

.rollover .box-photo {
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.rollover:not(.no-hover):hover .box-photo img {
	opacity: 0.5;
}

.rollover:hover .hover-item {
	visibility: visible;
	opacity: 1;
}

.rollover:hover:not(.no-scale) .box-photo img {
	transform: scale(1.05); 

	-webkit-transform: scale(1.05);
}

.box-movie .box-view {
	display: -webkit-box;
	display: flex;
}

.box-movie .box-rating {
	margin-bottom: 10px;
}

.box-movie .box-genres {
	flex-wrap: wrap; 

	display: -webkit-box;
	display: flex;
}
.box-movie .box-genres .item {
	display: block;
	height: 34px;
	margin: 0 5px 5px 0;
	padding: 0 20px;
	border: 1px solid #fff;
	border-radius: 36px;

	color: #fff;
	font-size: 14px;
	line-height: 34px;
	text-transform: capitalize;

	transition: all 0.3s ease-in-out;
}
.box-movie .box-genres .item:hover {
	cursor: pointer;
	border-color: #49c5b6;
	background-color: transparent; 

	color: #49c5b6;
}

.box-movie .box-title {
	margin-bottom: 15px;
}

.box-movie .box-item {
	margin-bottom: 20px;
}

.box-movie .data-age {
	opacity: 0.6;
}

.box-movie .box-subtitle {
	margin-bottom: 8px; 

	font-weight: 600;
	font-size: 16px;
	line-height: 1.3;
}

.box-movie .box-desc {
	font-size: 14px;
	line-height: 1.46;
}

._no-offset-x {
	margin-right: -35px; 
	margin-left: -35px;
}

._columns-spaced [class*='col-xl-'],
._columns-spaced [class*='col-ml-'],
._columns-spaced [class*='col-l-'],
._columns-spaced [class*='col-ls-'],
._columns-spaced [class*='col-m-'],
._columns-spaced [class*='col-ms-'],
._columns-spaced [class*='col-s-'] {
	padding-right: 35px; 
	padding-left: 35px;
}

._columns-zero-space [class*='col-xl-'],
._columns-zero-space [class*='col-ml-'],
._columns-zero-space [class*='col-l-'],
._columns-zero-space [class*='col-ls-'],
._columns-zero-space [class*='col-m-'],
._columns-zero-space [class*='col-ms-'],
._columns-zero-space [class*='col-s-'] {
	padding-right: 0; 
	padding-left: 0;
}

@media screen and (max-width: 768px) {
	._m-no-offset-x {
		margin-right: -23px; 
		margin-left: -23px;
	}
	._m-columns-spaced [class*='col-xl-'],
	._m-columns-spaced [class*='col-ml-'],
	._m-columns-spaced [class*='col-l-'],
	._m-columns-spaced [class*='col-ls-'],
	._m-columns-spaced [class*='col-m-'],
	._m-columns-spaced [class*='col-ms-'],
	._m-columns-spaced [class*='col-s-'] {
		padding-right: 23px; 
		padding-left: 23px;
	}
	._m-columns-zero-space [class*='col-xl-'],
	._m-columns-zero-space [class*='col-ml-'],
	._m-columns-zero-space [class*='col-l-'],
	._m-columns-zero-space [class*='col-ls-'],
	._m-columns-zero-space [class*='col-m-'],
	._m-columns-zero-space [class*='col-ms-'],
	._m-columns-zero-space [class*='col-s-'] {
		padding-right: 0; 
		padding-left: 0;
	}
}

.row {
	flex-direction: row;
	flex-wrap: wrap;
	flex: 0 1 auto;

	display: -webkit-box;
	display: flex;
	margin-bottom: -35px; 
	margin-left: -35px;

	-webkit-box-flex: 0;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
}
.row > * {
	-ms-flex-negative: 1;
}
.row [class*='col-xl-'],
.row [class*='col-ml-'],
.row [class*='col-l-'],
.row [class*='col-ls-'],
.row [class*='col-m-'],
.row [class*='col-ms-'],
.row [class*='col-s-'] {
	box-sizing: border-box;
}
.row [class*='col-'] {
	padding-bottom: 35px; 
	padding-left: 35px;
}
.row._start {
	justify-content: flex-start; 

	-webkit-box-pack: start;
}
.row._center {
	justify-content: center; 

	-webkit-box-pack: center;
}
.row._end {
	justify-content: flex-end; 

	-webkit-box-pack: end;
}
.row._top {
	align-items: flex-start; 

	-webkit-box-align: start;
}
.row._middle {
	align-items: center; 

	-webkit-box-align: center;
}
.row._baseline {
	align-items: baseline; 

	-webkit-box-align: baseline;
}
.row._bottom {
	align-items: flex-end; 

	-webkit-box-align: end;
}
.row._around {
	justify-content: space-around;
}
.row._between {
	justify-content: space-between; 

	-webkit-box-pack: justify;
}
.row._v-between {
	align-content: space-between;
}
.row._reverse {
	flex-direction: row-reverse; 

	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
}
.row._v-reverse {
	flex-direction: column-reverse; 

	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
}
.row._wrap {
	flex-wrap: wrap;
}
.row._nowrap {
	flex-wrap: nowrap;
}
.col-xl-1 {
	width: 4.16667%;
}
._xl-offset-1 {
	margin-left: 4.16667%;
}
.col-xl-2 {
	width: 8.33333%;
}
._xl-offset-2 {
	margin-left: 8.33333%;
}
.col-xl-3 {
	width: 12.5%;
}
._xl-offset-3 {
	margin-left: 12.5%;
}
.col-xl-4 {
	width: 16.66667%;
}
._xl-offset-4 {
	margin-left: 16.66667%;
}
.col-xl-5 {
	width: 20.83333%;
}
._xl-offset-5 {
	margin-left: 20.83333%;
}
.col-xl-6 {
	width: 25%;
}
._xl-offset-6 {
	margin-left: 25%;
}
.col-xl-7 {
	width: 29.16667%;
}
._xl-offset-7 {
	margin-left: 29.16667%;
}
.col-xl-8 {
	width: 33.33333%;
}
._xl-offset-8 {
	margin-left: 33.33333%;
}
.col-xl-9 {
	width: 37.5%;
}
._xl-offset-9 {
	margin-left: 37.5%;
}
.col-xl-10 {
	width: 41.66667%;
}
._xl-offset-10 {
	margin-left: 41.66667%;
}
.col-xl-11 {
	width: 45.83333%;
}
._xl-offset-11 {
	margin-left: 45.83333%;
}
.col-xl-12 {
	width: 50%;
}
._xl-offset-12 {
	margin-left: 50%;
}
.col-xl-13 {
	width: 54.16667%;
}
._xl-offset-13 {
	margin-left: 54.16667%;
}
.col-xl-14 {
	width: 58.33333%;
}
._xl-offset-14 {
	margin-left: 58.33333%;
}
.col-xl-15 {
	width: 62.5%;
}
._xl-offset-15 {
	margin-left: 62.5%;
}
.col-xl-16 {
	width: 66.66667%;
}
._xl-offset-16 {
	margin-left: 66.66667%;
}
.col-xl-17 {
	width: 70.83333%;
}
._xl-offset-17 {
	margin-left: 70.83333%;
}
.col-xl-18 {
	width: 75%;
}
._xl-offset-18 {
	margin-left: 75%;
}
.col-xl-19 {
	width: 79.16667%;
}
._xl-offset-19 {
	margin-left: 79.16667%;
}
.col-xl-20 {
	width: 83.33333%;
}
._xl-offset-20 {
	margin-left: 83.33333%;
}
.col-xl-21 {
	width: 87.5%;
}
._xl-offset-21 {
	margin-left: 87.5%;
}
.col-xl-22 {
	width: 91.66667%;
}
._xl-offset-22 {
	margin-left: 91.66667%;
}
.col-xl-23 {
	width: 95.83333%;
}
._xl-offset-23 {
	margin-left: 95.83333%;
}
.col-xl-24 {
	width: 100%;
}
._xl-offset-24 {
	margin-left: 100%;
}
[class*='col-xl-'] {
	flex: none; 

	-webkit-box-flex: 0;
}
.col-xl-auto {
	flex: 1 1 0.01%; 

	width: auto;

	-webkit-box-flex: 1;
}
._xl-order-1 {
	order: 1; 

	-webkit-box-ordinal-group: 2;
}
._xl-order-2 {
	order: 2; 

	-webkit-box-ordinal-group: 3;
}
._xl-order-3 {
	order: 3; 

	-webkit-box-ordinal-group: 4;
}
._xl-order-4 {
	order: 4; 

	-webkit-box-ordinal-group: 5;
}
._xl-order-5 {
	order: 5; 

	-webkit-box-ordinal-group: 6;
}
._xl-order-6 {
	order: 6; 

	-webkit-box-ordinal-group: 7;
}
._xl-order-7 {
	order: 7; 

	-webkit-box-ordinal-group: 8;
}
._xl-order-8 {
	order: 8; 

	-webkit-box-ordinal-group: 9;
}
._xl-order-9 {
	order: 9; 

	-webkit-box-ordinal-group: 10;
}
._xl-order-10 {
	order: 10; 

	-webkit-box-ordinal-group: 11;
}
._xl-order-first {
	order: -1; 

	-webkit-box-ordinal-group: 0;
}
._xl-auto {
	margin-right: auto; 
	margin-left: auto;
}
._xl-zero {
	margin-right: 0; 
	margin-left: 0;
}
@media screen and (max-width: 1280px) {
	.row._ml-start {
		justify-content: flex-start; 

		-webkit-box-pack: start;
	}
	.row._ml-center {
		justify-content: center; 

		-webkit-box-pack: center;
	}
	.row._ml-end {
		justify-content: flex-end; 

		-webkit-box-pack: end;
	}
	.row._ml-top {
		align-items: flex-start; 

		-webkit-box-align: start;
	}
	.row._ml-middle {
		align-items: center; 

		-webkit-box-align: center;
	}
	.row._ml-baseline {
		align-items: baseline; 

		-webkit-box-align: baseline;
	}
	.row._ml-bottom {
		align-items: flex-end; 

		-webkit-box-align: end;
	}
	.row._ml-around {
		justify-content: space-around;
	}
	.row._ml-between {
		justify-content: space-between; 

		-webkit-box-pack: justify;
	}
	.row._ml-v-between {
		align-content: space-between;
	}
	.row._ml-reverse {
		flex-direction: row-reverse; 

		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
	}
	.row._ml-v-reverse {
		flex-direction: column-reverse; 

		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
	}
	.row._ml-wrap {
		flex-wrap: wrap;
	}
	.row._ml-nowrap {
		flex-wrap: nowrap;
	}
	.col-ml-1 {
		width: 4.16667%;
	}
	._ml-offset-1 {
		margin-left: 4.16667%;
	}
	.col-ml-2 {
		width: 8.33333%;
	}
	._ml-offset-2 {
		margin-left: 8.33333%;
	}
	.col-ml-3 {
		width: 12.5%;
	}
	._ml-offset-3 {
		margin-left: 12.5%;
	}
	.col-ml-4 {
		width: 16.66667%;
	}
	._ml-offset-4 {
		margin-left: 16.66667%;
	}
	.col-ml-5 {
		width: 20.83333%;
	}
	._ml-offset-5 {
		margin-left: 20.83333%;
	}
	.col-ml-6 {
		width: 25%;
	}
	._ml-offset-6 {
		margin-left: 25%;
	}
	.col-ml-7 {
		width: 29.16667%;
	}
	._ml-offset-7 {
		margin-left: 29.16667%;
	}
	.col-ml-8 {
		width: 33.33333%;
	}
	._ml-offset-8 {
		margin-left: 33.33333%;
	}
	.col-ml-9 {
		width: 37.5%;
	}
	._ml-offset-9 {
		margin-left: 37.5%;
	}
	.col-ml-10 {
		width: 41.66667%;
	}
	._ml-offset-10 {
		margin-left: 41.66667%;
	}
	.col-ml-11 {
		width: 45.83333%;
	}
	._ml-offset-11 {
		margin-left: 45.83333%;
	}
	.col-ml-12 {
		width: 50%;
	}
	._ml-offset-12 {
		margin-left: 50%;
	}
	.col-ml-13 {
		width: 54.16667%;
	}
	._ml-offset-13 {
		margin-left: 54.16667%;
	}
	.col-ml-14 {
		width: 58.33333%;
	}
	._ml-offset-14 {
		margin-left: 58.33333%;
	}
	.col-ml-15 {
		width: 62.5%;
	}
	._ml-offset-15 {
		margin-left: 62.5%;
	}
	.col-ml-16 {
		width: 66.66667%;
	}
	._ml-offset-16 {
		margin-left: 66.66667%;
	}
	.col-ml-17 {
		width: 70.83333%;
	}
	._ml-offset-17 {
		margin-left: 70.83333%;
	}
	.col-ml-18 {
		width: 75%;
	}
	._ml-offset-18 {
		margin-left: 75%;
	}
	.col-ml-19 {
		width: 79.16667%;
	}
	._ml-offset-19 {
		margin-left: 79.16667%;
	}
	.col-ml-20 {
		width: 83.33333%;
	}
	._ml-offset-20 {
		margin-left: 83.33333%;
	}
	.col-ml-21 {
		width: 87.5%;
	}
	._ml-offset-21 {
		margin-left: 87.5%;
	}
	.col-ml-22 {
		width: 91.66667%;
	}
	._ml-offset-22 {
		margin-left: 91.66667%;
	}
	.col-ml-23 {
		width: 95.83333%;
	}
	._ml-offset-23 {
		margin-left: 95.83333%;
	}
	.col-ml-24 {
		width: 100%;
	}
	._ml-offset-24 {
		margin-left: 100%;
	}
	[class*='col-ml-'] {
		flex: none; 

		-webkit-box-flex: 0;
	}
	.col-ml-auto {
		flex: 1 1 0.01%; 

		width: auto;

		-webkit-box-flex: 1;
	}
	._ml-order-1 {
		order: 1; 

		-webkit-box-ordinal-group: 2;
	}
	._ml-order-2 {
		order: 2; 

		-webkit-box-ordinal-group: 3;
	}
	._ml-order-3 {
		order: 3; 

		-webkit-box-ordinal-group: 4;
	}
	._ml-order-4 {
		order: 4; 

		-webkit-box-ordinal-group: 5;
	}
	._ml-order-5 {
		order: 5; 

		-webkit-box-ordinal-group: 6;
	}
	._ml-order-6 {
		order: 6; 

		-webkit-box-ordinal-group: 7;
	}
	._ml-order-7 {
		order: 7; 

		-webkit-box-ordinal-group: 8;
	}
	._ml-order-8 {
		order: 8; 

		-webkit-box-ordinal-group: 9;
	}
	._ml-order-9 {
		order: 9; 

		-webkit-box-ordinal-group: 10;
	}
	._ml-order-10 {
		order: 10; 

		-webkit-box-ordinal-group: 11;
	}
	._ml-order-first {
		order: -1; 

		-webkit-box-ordinal-group: 0;
	}
	._ml-auto {
		margin-right: auto; 
		margin-left: auto;
	}
	._ml-zero {
		margin-right: 0; 
		margin-left: 0;
	}
}
@media screen and (max-width: 1024px) {
	.row._l-start {
		justify-content: flex-start; 

		-webkit-box-pack: start;
	}
	.row._l-center {
		justify-content: center; 

		-webkit-box-pack: center;
	}
	.row._l-end {
		justify-content: flex-end; 

		-webkit-box-pack: end;
	}
	.row._l-top {
		align-items: flex-start; 

		-webkit-box-align: start;
	}
	.row._l-middle {
		align-items: center; 

		-webkit-box-align: center;
	}
	.row._l-baseline {
		align-items: baseline; 

		-webkit-box-align: baseline;
	}
	.row._l-bottom {
		align-items: flex-end; 

		-webkit-box-align: end;
	}
	.row._l-around {
		justify-content: space-around;
	}
	.row._l-between {
		justify-content: space-between; 

		-webkit-box-pack: justify;
	}
	.row._l-v-between {
		align-content: space-between;
	}
	.row._l-reverse {
		flex-direction: row-reverse; 

		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
	}
	.row._l-v-reverse {
		flex-direction: column-reverse; 

		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
	}
	.row._l-wrap {
		flex-wrap: wrap;
	}
	.row._l-nowrap {
		flex-wrap: nowrap;
	}
	.col-l-1 {
		width: 4.16667%;
	}
	._l-offset-1 {
		margin-left: 4.16667%;
	}
	.col-l-2 {
		width: 8.33333%;
	}
	._l-offset-2 {
		margin-left: 8.33333%;
	}
	.col-l-3 {
		width: 12.5%;
	}
	._l-offset-3 {
		margin-left: 12.5%;
	}
	.col-l-4 {
		width: 16.66667%;
	}
	._l-offset-4 {
		margin-left: 16.66667%;
	}
	.col-l-5 {
		width: 20.83333%;
	}
	._l-offset-5 {
		margin-left: 20.83333%;
	}
	.col-l-6 {
		width: 25%;
	}
	._l-offset-6 {
		margin-left: 25%;
	}
	.col-l-7 {
		width: 29.16667%;
	}
	._l-offset-7 {
		margin-left: 29.16667%;
	}
	.col-l-8 {
		width: 33.33333%;
	}
	._l-offset-8 {
		margin-left: 33.33333%;
	}
	.col-l-9 {
		width: 37.5%;
	}
	._l-offset-9 {
		margin-left: 37.5%;
	}
	.col-l-10 {
		width: 41.66667%;
	}
	._l-offset-10 {
		margin-left: 41.66667%;
	}
	.col-l-11 {
		width: 45.83333%;
	}
	._l-offset-11 {
		margin-left: 45.83333%;
	}
	.col-l-12 {
		width: 50%;
	}
	._l-offset-12 {
		margin-left: 50%;
	}
	.col-l-13 {
		width: 54.16667%;
	}
	._l-offset-13 {
		margin-left: 54.16667%;
	}
	.col-l-14 {
		width: 58.33333%;
	}
	._l-offset-14 {
		margin-left: 58.33333%;
	}
	.col-l-15 {
		width: 62.5%;
	}
	._l-offset-15 {
		margin-left: 62.5%;
	}
	.col-l-16 {
		width: 66.66667%;
	}
	._l-offset-16 {
		margin-left: 66.66667%;
	}
	.col-l-17 {
		width: 70.83333%;
	}
	._l-offset-17 {
		margin-left: 70.83333%;
	}
	.col-l-18 {
		width: 75%;
	}
	._l-offset-18 {
		margin-left: 75%;
	}
	.col-l-19 {
		width: 79.16667%;
	}
	._l-offset-19 {
		margin-left: 79.16667%;
	}
	.col-l-20 {
		width: 83.33333%;
	}
	._l-offset-20 {
		margin-left: 83.33333%;
	}
	.col-l-21 {
		width: 87.5%;
	}
	._l-offset-21 {
		margin-left: 87.5%;
	}
	.col-l-22 {
		width: 91.66667%;
	}
	._l-offset-22 {
		margin-left: 91.66667%;
	}
	.col-l-23 {
		width: 95.83333%;
	}
	._l-offset-23 {
		margin-left: 95.83333%;
	}
	.col-l-24 {
		width: 100%;
	}
	._l-offset-24 {
		margin-left: 100%;
	}
	[class*='col-l-'] {
		flex: none; 

		-webkit-box-flex: 0;
	}
	.col-l-auto {
		flex: 1 1 0.01%; 

		width: auto;

		-webkit-box-flex: 1;
	}
	._l-order-1 {
		order: 1; 

		-webkit-box-ordinal-group: 2;
	}
	._l-order-2 {
		order: 2; 

		-webkit-box-ordinal-group: 3;
	}
	._l-order-3 {
		order: 3; 

		-webkit-box-ordinal-group: 4;
	}
	._l-order-4 {
		order: 4; 

		-webkit-box-ordinal-group: 5;
	}
	._l-order-5 {
		order: 5; 

		-webkit-box-ordinal-group: 6;
	}
	._l-order-6 {
		order: 6; 

		-webkit-box-ordinal-group: 7;
	}
	._l-order-7 {
		order: 7; 

		-webkit-box-ordinal-group: 8;
	}
	._l-order-8 {
		order: 8; 

		-webkit-box-ordinal-group: 9;
	}
	._l-order-9 {
		order: 9; 

		-webkit-box-ordinal-group: 10;
	}
	._l-order-10 {
		order: 10; 

		-webkit-box-ordinal-group: 11;
	}
	._l-order-first {
		order: -1; 

		-webkit-box-ordinal-group: 0;
	}
	._l-auto {
		margin-right: auto; 
		margin-left: auto;
	}
	._l-zero {
		margin-right: 0; 
		margin-left: 0;
	}
}
@media screen and (max-width: 1023px) {
	.row._ls-start {
		justify-content: flex-start; 

		-webkit-box-pack: start;
	}
	.row._ls-center {
		justify-content: center; 

		-webkit-box-pack: center;
	}
	.row._ls-end {
		justify-content: flex-end; 

		-webkit-box-pack: end;
	}
	.row._ls-top {
		align-items: flex-start; 

		-webkit-box-align: start;
	}
	.row._ls-middle {
		align-items: center; 

		-webkit-box-align: center;
	}
	.row._ls-baseline {
		align-items: baseline; 

		-webkit-box-align: baseline;
	}
	.row._ls-bottom {
		align-items: flex-end; 

		-webkit-box-align: end;
	}
	.row._ls-around {
		justify-content: space-around;
	}
	.row._ls-between {
		justify-content: space-between; 

		-webkit-box-pack: justify;
	}
	.row._ls-v-between {
		align-content: space-between;
	}
	.row._ls-reverse {
		flex-direction: row-reverse; 

		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
	}
	.row._ls-v-reverse {
		flex-direction: column-reverse; 

		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
	}
	.row._ls-wrap {
		flex-wrap: wrap;
	}
	.row._ls-nowrap {
		flex-wrap: nowrap;
	}
	.col-ls-1 {
		width: 4.16667%;
	}
	._ls-offset-1 {
		margin-left: 4.16667%;
	}
	.col-ls-2 {
		width: 8.33333%;
	}
	._ls-offset-2 {
		margin-left: 8.33333%;
	}
	.col-ls-3 {
		width: 12.5%;
	}
	._ls-offset-3 {
		margin-left: 12.5%;
	}
	.col-ls-4 {
		width: 16.66667%;
	}
	._ls-offset-4 {
		margin-left: 16.66667%;
	}
	.col-ls-5 {
		width: 20.83333%;
	}
	._ls-offset-5 {
		margin-left: 20.83333%;
	}
	.col-ls-6 {
		width: 25%;
	}
	._ls-offset-6 {
		margin-left: 25%;
	}
	.col-ls-7 {
		width: 29.16667%;
	}
	._ls-offset-7 {
		margin-left: 29.16667%;
	}
	.col-ls-8 {
		width: 33.33333%;
	}
	._ls-offset-8 {
		margin-left: 33.33333%;
	}
	.col-ls-9 {
		width: 37.5%;
	}
	._ls-offset-9 {
		margin-left: 37.5%;
	}
	.col-ls-10 {
		width: 41.66667%;
	}
	._ls-offset-10 {
		margin-left: 41.66667%;
	}
	.col-ls-11 {
		width: 45.83333%;
	}
	._ls-offset-11 {
		margin-left: 45.83333%;
	}
	.col-ls-12 {
		width: 50%;
	}
	._ls-offset-12 {
		margin-left: 50%;
	}
	.col-ls-13 {
		width: 54.16667%;
	}
	._ls-offset-13 {
		margin-left: 54.16667%;
	}
	.col-ls-14 {
		width: 58.33333%;
	}
	._ls-offset-14 {
		margin-left: 58.33333%;
	}
	.col-ls-15 {
		width: 62.5%;
	}
	._ls-offset-15 {
		margin-left: 62.5%;
	}
	.col-ls-16 {
		width: 66.66667%;
	}
	._ls-offset-16 {
		margin-left: 66.66667%;
	}
	.col-ls-17 {
		width: 70.83333%;
	}
	._ls-offset-17 {
		margin-left: 70.83333%;
	}
	.col-ls-18 {
		width: 75%;
	}
	._ls-offset-18 {
		margin-left: 75%;
	}
	.col-ls-19 {
		width: 79.16667%;
	}
	._ls-offset-19 {
		margin-left: 79.16667%;
	}
	.col-ls-20 {
		width: 83.33333%;
	}
	._ls-offset-20 {
		margin-left: 83.33333%;
	}
	.col-ls-21 {
		width: 87.5%;
	}
	._ls-offset-21 {
		margin-left: 87.5%;
	}
	.col-ls-22 {
		width: 91.66667%;
	}
	._ls-offset-22 {
		margin-left: 91.66667%;
	}
	.col-ls-23 {
		width: 95.83333%;
	}
	._ls-offset-23 {
		margin-left: 95.83333%;
	}
	.col-ls-24 {
		width: 100%;
	}
	._ls-offset-24 {
		margin-left: 100%;
	}
	[class*='col-ls-'] {
		flex: none; 

		-webkit-box-flex: 0;
	}
	.col-ls-auto {
		flex: 1 1 0.01%; 

		width: auto;

		-webkit-box-flex: 1;
	}
	._ls-order-1 {
		order: 1; 

		-webkit-box-ordinal-group: 2;
	}
	._ls-order-2 {
		order: 2; 

		-webkit-box-ordinal-group: 3;
	}
	._ls-order-3 {
		order: 3; 

		-webkit-box-ordinal-group: 4;
	}
	._ls-order-4 {
		order: 4; 

		-webkit-box-ordinal-group: 5;
	}
	._ls-order-5 {
		order: 5; 

		-webkit-box-ordinal-group: 6;
	}
	._ls-order-6 {
		order: 6; 

		-webkit-box-ordinal-group: 7;
	}
	._ls-order-7 {
		order: 7; 

		-webkit-box-ordinal-group: 8;
	}
	._ls-order-8 {
		order: 8; 

		-webkit-box-ordinal-group: 9;
	}
	._ls-order-9 {
		order: 9; 

		-webkit-box-ordinal-group: 10;
	}
	._ls-order-10 {
		order: 10; 

		-webkit-box-ordinal-group: 11;
	}
	._ls-order-first {
		order: -1; 

		-webkit-box-ordinal-group: 0;
	}
	._ls-auto {
		margin-right: auto; 
		margin-left: auto;
	}
	._ls-zero {
		margin-right: 0; 
		margin-left: 0;
	}
}
@media screen and (max-width: 768px) {
	.row._m-start {
		justify-content: flex-start; 

		-webkit-box-pack: start;
	}
	.row._m-center {
		justify-content: center; 

		-webkit-box-pack: center;
	}
	.row._m-end {
		justify-content: flex-end; 

		-webkit-box-pack: end;
	}
	.row._m-top {
		align-items: flex-start; 

		-webkit-box-align: start;
	}
	.row._m-middle {
		align-items: center; 

		-webkit-box-align: center;
	}
	.row._m-baseline {
		align-items: baseline; 

		-webkit-box-align: baseline;
	}
	.row._m-bottom {
		align-items: flex-end; 

		-webkit-box-align: end;
	}
	.row._m-around {
		justify-content: space-around;
	}
	.row._m-between {
		justify-content: space-between; 

		-webkit-box-pack: justify;
	}
	.row._m-v-between {
		align-content: space-between;
	}
	.row._m-reverse {
		flex-direction: row-reverse; 

		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
	}
	.row._m-v-reverse {
		flex-direction: column-reverse; 

		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
	}
	.row._m-wrap {
		flex-wrap: wrap;
	}
	.row._m-nowrap {
		flex-wrap: nowrap;
	}
	.col-m-1 {
		width: 4.16667%;
	}
	._m-offset-1 {
		margin-left: 4.16667%;
	}
	.col-m-2 {
		width: 8.33333%;
	}
	._m-offset-2 {
		margin-left: 8.33333%;
	}
	.col-m-3 {
		width: 12.5%;
	}
	._m-offset-3 {
		margin-left: 12.5%;
	}
	.col-m-4 {
		width: 16.66667%;
	}
	._m-offset-4 {
		margin-left: 16.66667%;
	}
	.col-m-5 {
		width: 20.83333%;
	}
	._m-offset-5 {
		margin-left: 20.83333%;
	}
	.col-m-6 {
		width: 25%;
	}
	._m-offset-6 {
		margin-left: 25%;
	}
	.col-m-7 {
		width: 29.16667%;
	}
	._m-offset-7 {
		margin-left: 29.16667%;
	}
	.col-m-8 {
		width: 33.33333%;
	}
	._m-offset-8 {
		margin-left: 33.33333%;
	}
	.col-m-9 {
		width: 37.5%;
	}
	._m-offset-9 {
		margin-left: 37.5%;
	}
	.col-m-10 {
		width: 41.66667%;
	}
	._m-offset-10 {
		margin-left: 41.66667%;
	}
	.col-m-11 {
		width: 45.83333%;
	}
	._m-offset-11 {
		margin-left: 45.83333%;
	}
	.col-m-12 {
		width: 50%;
	}
	._m-offset-12 {
		margin-left: 50%;
	}
	.col-m-13 {
		width: 54.16667%;
	}
	._m-offset-13 {
		margin-left: 54.16667%;
	}
	.col-m-14 {
		width: 58.33333%;
	}
	._m-offset-14 {
		margin-left: 58.33333%;
	}
	.col-m-15 {
		width: 62.5%;
	}
	._m-offset-15 {
		margin-left: 62.5%;
	}
	.col-m-16 {
		width: 66.66667%;
	}
	._m-offset-16 {
		margin-left: 66.66667%;
	}
	.col-m-17 {
		width: 70.83333%;
	}
	._m-offset-17 {
		margin-left: 70.83333%;
	}
	.col-m-18 {
		width: 75%;
	}
	._m-offset-18 {
		margin-left: 75%;
	}
	.col-m-19 {
		width: 79.16667%;
	}
	._m-offset-19 {
		margin-left: 79.16667%;
	}
	.col-m-20 {
		width: 83.33333%;
	}
	._m-offset-20 {
		margin-left: 83.33333%;
	}
	.col-m-21 {
		width: 87.5%;
	}
	._m-offset-21 {
		margin-left: 87.5%;
	}
	.col-m-22 {
		width: 91.66667%;
	}
	._m-offset-22 {
		margin-left: 91.66667%;
	}
	.col-m-23 {
		width: 95.83333%;
	}
	._m-offset-23 {
		margin-left: 95.83333%;
	}
	.col-m-24 {
		width: 100%;
	}
	._m-offset-24 {
		margin-left: 100%;
	}
	[class*='col-m-'] {
		flex: none; 

		-webkit-box-flex: 0;
	}
	.col-m-auto {
		flex: 1 1 0.01%; 

		width: auto;

		-webkit-box-flex: 1;
	}
	._m-order-1 {
		order: 1; 

		-webkit-box-ordinal-group: 2;
	}
	._m-order-2 {
		order: 2; 

		-webkit-box-ordinal-group: 3;
	}
	._m-order-3 {
		order: 3; 

		-webkit-box-ordinal-group: 4;
	}
	._m-order-4 {
		order: 4; 

		-webkit-box-ordinal-group: 5;
	}
	._m-order-5 {
		order: 5; 

		-webkit-box-ordinal-group: 6;
	}
	._m-order-6 {
		order: 6; 

		-webkit-box-ordinal-group: 7;
	}
	._m-order-7 {
		order: 7; 

		-webkit-box-ordinal-group: 8;
	}
	._m-order-8 {
		order: 8; 

		-webkit-box-ordinal-group: 9;
	}
	._m-order-9 {
		order: 9; 

		-webkit-box-ordinal-group: 10;
	}
	._m-order-10 {
		order: 10; 

		-webkit-box-ordinal-group: 11;
	}
	._m-order-first {
		order: -1; 

		-webkit-box-ordinal-group: 0;
	}
	._m-auto {
		margin-right: auto; 
		margin-left: auto;
	}
	._m-zero {
		margin-right: 0; 
		margin-left: 0;
	}
}
@media screen and (max-width: 767px) {
	.row._ms-start {
		justify-content: flex-start; 

		-webkit-box-pack: start;
	}
	.row._ms-center {
		justify-content: center; 

		-webkit-box-pack: center;
	}
	.row._ms-end {
		justify-content: flex-end; 

		-webkit-box-pack: end;
	}
	.row._ms-top {
		align-items: flex-start; 

		-webkit-box-align: start;
	}
	.row._ms-middle {
		align-items: center; 

		-webkit-box-align: center;
	}
	.row._ms-baseline {
		align-items: baseline; 

		-webkit-box-align: baseline;
	}
	.row._ms-bottom {
		align-items: flex-end; 

		-webkit-box-align: end;
	}
	.row._ms-around {
		justify-content: space-around;
	}
	.row._ms-between {
		justify-content: space-between; 

		-webkit-box-pack: justify;
	}
	.row._ms-v-between {
		align-content: space-between;
	}
	.row._ms-reverse {
		flex-direction: row-reverse; 

		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
	}
	.row._ms-v-reverse {
		flex-direction: column-reverse; 

		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
	}
	.row._ms-wrap {
		flex-wrap: wrap;
	}
	.row._ms-nowrap {
		flex-wrap: nowrap;
	}
	.col-ms-1 {
		width: 4.16667%;
	}
	._ms-offset-1 {
		margin-left: 4.16667%;
	}
	.col-ms-2 {
		width: 8.33333%;
	}
	._ms-offset-2 {
		margin-left: 8.33333%;
	}
	.col-ms-3 {
		width: 12.5%;
	}
	._ms-offset-3 {
		margin-left: 12.5%;
	}
	.col-ms-4 {
		width: 16.66667%;
	}
	._ms-offset-4 {
		margin-left: 16.66667%;
	}
	.col-ms-5 {
		width: 20.83333%;
	}
	._ms-offset-5 {
		margin-left: 20.83333%;
	}
	.col-ms-6 {
		width: 25%;
	}
	._ms-offset-6 {
		margin-left: 25%;
	}
	.col-ms-7 {
		width: 29.16667%;
	}
	._ms-offset-7 {
		margin-left: 29.16667%;
	}
	.col-ms-8 {
		width: 33.33333%;
	}
	._ms-offset-8 {
		margin-left: 33.33333%;
	}
	.col-ms-9 {
		width: 37.5%;
	}
	._ms-offset-9 {
		margin-left: 37.5%;
	}
	.col-ms-10 {
		width: 41.66667%;
	}
	._ms-offset-10 {
		margin-left: 41.66667%;
	}
	.col-ms-11 {
		width: 45.83333%;
	}
	._ms-offset-11 {
		margin-left: 45.83333%;
	}
	.col-ms-12 {
		width: 50%;
	}
	._ms-offset-12 {
		margin-left: 50%;
	}
	.col-ms-13 {
		width: 54.16667%;
	}
	._ms-offset-13 {
		margin-left: 54.16667%;
	}
	.col-ms-14 {
		width: 58.33333%;
	}
	._ms-offset-14 {
		margin-left: 58.33333%;
	}
	.col-ms-15 {
		width: 62.5%;
	}
	._ms-offset-15 {
		margin-left: 62.5%;
	}
	.col-ms-16 {
		width: 66.66667%;
	}
	._ms-offset-16 {
		margin-left: 66.66667%;
	}
	.col-ms-17 {
		width: 70.83333%;
	}
	._ms-offset-17 {
		margin-left: 70.83333%;
	}
	.col-ms-18 {
		width: 75%;
	}
	._ms-offset-18 {
		margin-left: 75%;
	}
	.col-ms-19 {
		width: 79.16667%;
	}
	._ms-offset-19 {
		margin-left: 79.16667%;
	}
	.col-ms-20 {
		width: 83.33333%;
	}
	._ms-offset-20 {
		margin-left: 83.33333%;
	}
	.col-ms-21 {
		width: 87.5%;
	}
	._ms-offset-21 {
		margin-left: 87.5%;
	}
	.col-ms-22 {
		width: 91.66667%;
	}
	._ms-offset-22 {
		margin-left: 91.66667%;
	}
	.col-ms-23 {
		width: 95.83333%;
	}
	._ms-offset-23 {
		margin-left: 95.83333%;
	}
	.col-ms-24 {
		width: 100%;
	}
	._ms-offset-24 {
		margin-left: 100%;
	}
	[class*='col-ms-'] {
		flex: none; 

		-webkit-box-flex: 0;
	}
	.col-ms-auto {
		flex: 1 1 0.01%; 

		width: auto;

		-webkit-box-flex: 1;
	}
	._ms-order-1 {
		order: 1; 

		-webkit-box-ordinal-group: 2;
	}
	._ms-order-2 {
		order: 2; 

		-webkit-box-ordinal-group: 3;
	}
	._ms-order-3 {
		order: 3; 

		-webkit-box-ordinal-group: 4;
	}
	._ms-order-4 {
		order: 4; 

		-webkit-box-ordinal-group: 5;
	}
	._ms-order-5 {
		order: 5; 

		-webkit-box-ordinal-group: 6;
	}
	._ms-order-6 {
		order: 6; 

		-webkit-box-ordinal-group: 7;
	}
	._ms-order-7 {
		order: 7; 

		-webkit-box-ordinal-group: 8;
	}
	._ms-order-8 {
		order: 8; 

		-webkit-box-ordinal-group: 9;
	}
	._ms-order-9 {
		order: 9; 

		-webkit-box-ordinal-group: 10;
	}
	._ms-order-10 {
		order: 10; 

		-webkit-box-ordinal-group: 11;
	}
	._ms-order-first {
		order: -1; 

		-webkit-box-ordinal-group: 0;
	}
	._ms-auto {
		margin-right: auto; 
		margin-left: auto;
	}
	._ms-zero {
		margin-right: 0; 
		margin-left: 0;
	}
}
@media screen and (max-width: 480px) {
	.row._s-start {
		justify-content: flex-start; 

		-webkit-box-pack: start;
	}
	.row._s-center {
		justify-content: center; 

		-webkit-box-pack: center;
	}
	.row._s-end {
		justify-content: flex-end; 

		-webkit-box-pack: end;
	}
	.row._s-top {
		align-items: flex-start; 

		-webkit-box-align: start;
	}
	.row._s-middle {
		align-items: center; 

		-webkit-box-align: center;
	}
	.row._s-baseline {
		align-items: baseline; 

		-webkit-box-align: baseline;
	}
	.row._s-bottom {
		align-items: flex-end; 

		-webkit-box-align: end;
	}
	.row._s-around {
		justify-content: space-around;
	}
	.row._s-between {
		justify-content: space-between; 

		-webkit-box-pack: justify;
	}
	.row._s-v-between {
		align-content: space-between;
	}
	.row._s-reverse {
		flex-direction: row-reverse; 

		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
	}
	.row._s-v-reverse {
		flex-direction: column-reverse; 

		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
	}
	.row._s-wrap {
		flex-wrap: wrap;
	}
	.row._s-nowrap {
		flex-wrap: nowrap;
	}
	.col-s-1 {
		width: 4.16667%;
	}
	._s-offset-1 {
		margin-left: 4.16667%;
	}
	.col-s-2 {
		width: 8.33333%;
	}
	._s-offset-2 {
		margin-left: 8.33333%;
	}
	.col-s-3 {
		width: 12.5%;
	}
	._s-offset-3 {
		margin-left: 12.5%;
	}
	.col-s-4 {
		width: 16.66667%;
	}
	._s-offset-4 {
		margin-left: 16.66667%;
	}
	.col-s-5 {
		width: 20.83333%;
	}
	._s-offset-5 {
		margin-left: 20.83333%;
	}
	.col-s-6 {
		width: 25%;
	}
	._s-offset-6 {
		margin-left: 25%;
	}
	.col-s-7 {
		width: 29.16667%;
	}
	._s-offset-7 {
		margin-left: 29.16667%;
	}
	.col-s-8 {
		width: 33.33333%;
	}
	._s-offset-8 {
		margin-left: 33.33333%;
	}
	.col-s-9 {
		width: 37.5%;
	}
	._s-offset-9 {
		margin-left: 37.5%;
	}
	.col-s-10 {
		width: 41.66667%;
	}
	._s-offset-10 {
		margin-left: 41.66667%;
	}
	.col-s-11 {
		width: 45.83333%;
	}
	._s-offset-11 {
		margin-left: 45.83333%;
	}
	.col-s-12 {
		width: 50%;
	}
	._s-offset-12 {
		margin-left: 50%;
	}
	.col-s-13 {
		width: 54.16667%;
	}
	._s-offset-13 {
		margin-left: 54.16667%;
	}
	.col-s-14 {
		width: 58.33333%;
	}
	._s-offset-14 {
		margin-left: 58.33333%;
	}
	.col-s-15 {
		width: 62.5%;
	}
	._s-offset-15 {
		margin-left: 62.5%;
	}
	.col-s-16 {
		width: 66.66667%;
	}
	._s-offset-16 {
		margin-left: 66.66667%;
	}
	.col-s-17 {
		width: 70.83333%;
	}
	._s-offset-17 {
		margin-left: 70.83333%;
	}
	.col-s-18 {
		width: 75%;
	}
	._s-offset-18 {
		margin-left: 75%;
	}
	.col-s-19 {
		width: 79.16667%;
	}
	._s-offset-19 {
		margin-left: 79.16667%;
	}
	.col-s-20 {
		width: 83.33333%;
	}
	._s-offset-20 {
		margin-left: 83.33333%;
	}
	.col-s-21 {
		width: 87.5%;
	}
	._s-offset-21 {
		margin-left: 87.5%;
	}
	.col-s-22 {
		width: 91.66667%;
	}
	._s-offset-22 {
		margin-left: 91.66667%;
	}
	.col-s-23 {
		width: 95.83333%;
	}
	._s-offset-23 {
		margin-left: 95.83333%;
	}
	.col-s-24 {
		width: 100%;
	}
	._s-offset-24 {
		margin-left: 100%;
	}
	[class*='col-s-'] {
		flex: none; 

		-webkit-box-flex: 0;
	}
	.col-s-auto {
		flex: 1 1 0.01%; 

		width: auto;

		-webkit-box-flex: 1;
	}
	._s-order-1 {
		order: 1; 

		-webkit-box-ordinal-group: 2;
	}
	._s-order-2 {
		order: 2; 

		-webkit-box-ordinal-group: 3;
	}
	._s-order-3 {
		order: 3; 

		-webkit-box-ordinal-group: 4;
	}
	._s-order-4 {
		order: 4; 

		-webkit-box-ordinal-group: 5;
	}
	._s-order-5 {
		order: 5; 

		-webkit-box-ordinal-group: 6;
	}
	._s-order-6 {
		order: 6; 

		-webkit-box-ordinal-group: 7;
	}
	._s-order-7 {
		order: 7; 

		-webkit-box-ordinal-group: 8;
	}
	._s-order-8 {
		order: 8; 

		-webkit-box-ordinal-group: 9;
	}
	._s-order-9 {
		order: 9; 

		-webkit-box-ordinal-group: 10;
	}
	._s-order-10 {
		order: 10; 

		-webkit-box-ordinal-group: 11;
	}
	._s-order-first {
		order: -1; 

		-webkit-box-ordinal-group: 0;
	}
	._s-auto {
		margin-right: auto; 
		margin-left: auto;
	}
	._s-zero {
		margin-right: 0; 
		margin-left: 0;
	}
}

.bar.search-bar {
	height: 45px;
	border-bottom: 1px solid #dedede; 
	background-color: #fff;
}

/* ******* COMMON: LIST ******* */
.paginate {
	display: -webkit-box;
	display: flex;
	overflow: hidden;
	clear: both;
	height: 40px;
	margin: 0;
	padding: 0;

	font-size: 16px;
	list-style: none;
}
.paginate > li {
	margin: 0;
	padding: 0;
}
.paginate .item {
	display: block;
	width: 40px;
	height: 40px;
	margin-right: 1px;
	background-color: #fff;

	color: #202121;
	line-height: 40px;
	text-align: center;

	transition: all 0.3s ease-in-out;
}
.paginate .item:hover {
	background-color: #e6eaea;
}
.paginate .item.current {
	background-color: #000;

	color: #fff;
}
.paginate .item a {
	display: block;

	color: currentColor;
	text-decoration: none;
}
